body {
  font-family: arial;
}

html, body, ul, ol, li, form, fieldset, legend {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
}

fieldset, img {
  border: 0;
}

li {
  list-style: none;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

p, h1, h2, h3 {
  font-family: calibri;
}

body {
  font-size: 20px;
  align-items: center;
  justify-content: center;
}

.mainul {
  font-size: smaller;
  display: grid;
  grid-template-columns: 10em 0px 25em 20em;
  gap: 3em;
  justify-content: center;
}

.main-nav {
  width: 100%;
  height: 50px;
}
.main-nav .dropdown {
  position: relative;
}
.main-nav .dropdown button {
  display: none;
  border: none;
  padding: 20px;
  height: 57px;
  background-color: white;
}
.main-nav .dropdown .dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #f1f1f1;
  min-width: 7em;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}
.main-nav a {
  color: #809faa;
  text-decoration: none;
  padding: 16px;
  display: block;
  text-align: center;
}

.midnav {
  border-left: 2px solid lightgrey;
  height: 50px;
}
.midnav ul {
  width: 100%;
}
.midnav li {
  text-align: center;
  text-decoration: none;
  display: block;
  float: left;
  width: 33%;
}
.midnav li {
  width: 25%;
}

.rightnav {
  border-left: 2px solid lightgrey;
  height: 3em;
}
.rightnav img {
  width: 1.56em;
}
.rightnav ul {
  width: 60%;
}
.rightnav li {
  text-align: right;
  padding-top: 15px;
  text-decoration: none;
  float: right;
  width: 20%;
}
.rightnav img:hover {
  background: #92adb6;
  border-radius: 1mm;
}

.banner {
  background-color: antiquewhite;
  color: #131820;
  width: 100%;
  display: grid;
  grid-template-columns: 25em 25em;
  justify-content: center;
  gap: 2.5em;
}
.banner .brand {
  font-size: 2em;
  font-family: calibri;
  width: 10em;
}
.banner p {
  font-size: 0.35em;
  color: grey;
}
.banner img {
  padding-left: 150px;
  padding-top: 20px;
  width: 15em;
}
.banner button {
  background-color: rgb(19, 24, 32);
  border-radius: 50mm;
  border: none;
  color: white;
  font-family: calibri;
  font-weight: bold;
  width: 7em;
  height: 2.5em;
}
.banner:after {
  content: "";
  display: block;
  clear: both;
}

.brandsbar {
  text-align: center;
  justify-content: center;
  width: 100%;
}
.brandsbar img {
  width: 55em;
}
.brandsbar h2 {
  color: #131820;
  padding-top: 1.25em;
  font-weight: bold;
}

.subscription {
  color: #131820;
  width: 100%;
  display: grid;
  grid-template-columns: 25em 25em;
  justify-content: center;
  gap: 4em;
}
.subscription .description {
  justify-content: center;
  font-size: 2em;
  font-family: calibri;
  padding-top: 2.5em;
  width: 10em;
}
.subscription p {
  font-size: 0.35em;
  color: grey;
}
.subscription img {
  width: 25em;
}
.subscription button {
  background-color: rgb(19, 24, 32);
  border-radius: 50mm;
  border: none;
  color: white;
  font-family: calibri;
  font-weight: bold;
  width: 100px;
  height: 30px;
}
.subscription:after {
  content: "";
  display: block;
  clear: both;
}

.steps {
  color: #131820;
  width: 100%;
}
.steps p {
  font-size: 0.75em;
  color: grey;
}
.steps h1 {
  border: 1px solid rgb(230, 225, 225);
  border-radius: 50%;
  width: 12%;
  text-align: center;
}
.steps h1:hover {
  background-color: rgb(226, 237, 230);
}
.steps h2 {
  font-weight: bold;
}

.step {
  display: grid;
  grid-template-columns: 17em 17em 17em;
  justify-content: center;
}

.topseller {
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #131820;
  font-family: calibri;
  width: 100%;
}
.topseller ul {
  width: 100%;
}
.topseller li {
  text-align: center;
  text-decoration: none;
  display: block;
  float: left;
  width: 33%;
}
.topseller .first {
  background-color: rgb(200, 212, 205);
}
.topseller .second {
  background-color: rgb(244, 231, 210);
}
.topseller .third {
  background-color: rgb(197, 228, 251);
}
.topseller h1 {
  padding-top: 1.25em;
  font-size: 2em;
  text-align: center;
}
.topseller .topsellers {
  display: grid;
  grid-template-columns: 15em 15em 15em;
  justify-content: center;
  gap: 2.5em;
}
.topseller li {
  float: right;
  align-items: center;
  width: 300px;
  height: 400px;
  margin: 0 30px;
  border-radius: 2mm;
}
.topseller p {
  font-size: 0.55em;
  color: grey;
}
.topseller button {
  background-color: white;
  width: 10em;
  height: 35px;
  border-radius: 1mm;
  font-weight: bold;
  border: none;
  margin-bottom: 0.5em;
}
.topseller img {
  width: 7.5em;
}
.topseller .pink {
  width: 9em;
}
.topseller:after {
  content: "";
  display: block;
  clear: both;
}

.middle {
  text-align: center;
  width: 100%;
  font-family: calibri;
}
.middle .advantages {
  display: grid;
  grid-template-columns: 12em 12em 12em 12em;
  justify-content: center;
  gap: 2.5em;
}
.middle .adv {
  border: 1px solid rgb(190, 190, 190);
  border-radius: 2mm;
  padding-top: 0.5em;
}
.middle h1 {
  padding-top: 25px;
  font-size: 2em;
  color: #131820;
  text-align: center;
}
.middle img {
  width: 3em;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 2mm;
}
.middle p {
  font-size: 0.75em;
  color: grey;
}
.middle h2 {
  padding-top: 25px;
  font-weight: bolder;
}

.questions {
  text-align: center;
  width: 100%;
}
.questions h1 {
  padding-top: 25px;
  font-size: 2em;
  color: #131820;
}
.questions p {
  font-size: 0.75em;
  color: grey;
}
.questions button {
  background-color: lavenderblush;
  font-family: calibri;
  color: rgb(19, 24, 32);
  font-size: 0.9em;
  font-weight: bold;
  padding: 0.75em;
  width: 80%;
  border: none;
  text-align: left;
  outline: none;
}
.questions button:hover {
  background-color: #ffd1e1;
}
.questions .ans {
  width: 53.6em;
  height: 2.5em;
  display: none;
  background-color: #ffd1e1;
  text-align: left;
  margin-left: 6.77em;
  padding-left: 0.4em;
}

.comments {
  text-align: left;
  width: 20%;
  padding-left: 7em;
}
.comments h1 {
  padding-top: 25px;
  font-size: 2em;
  color: #131820;
}
.comments p {
  font-size: 0.75em;
  color: grey;
}
.comments button {
  background-color: rgb(19, 24, 32);
  border-radius: 50mm;
  border: none;
  color: white;
  font-family: calibri;
  font-weight: bold;
  width: 7em;
  height: 1.5em;
}

.footer {
  background-color: #131820;
  width: 100%;
  align-items: center;
}

.petqo {
  padding-top: 0.5em;
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding-left: 5.75em;
  border-bottom: 1px solid #343434;
}
.petqo p {
  color: grey;
}

.midbot {
  padding-left: 5.75em;
  color: white;
  border-bottom: 1px solid #343434;
}
.midbot ul {
  width: 100%;
}
.midbot li {
  text-align: center;
  text-decoration: none;
  display: block;
  float: left;
  width: 33%;
}
.midbot li {
  width: 18.5%;
  text-align: left;
}
.midbot input {
  border-radius: 5mm;
  background-color: rgb(33, 33, 44);
  border: none;
  width: 10em;
  height: 1em;
  padding: 0.25em;
}
.midbot button {
  border: none;
  border-radius: 5mm;
  color: #131820;
  padding: 0.25em;
  width: 5em;
}
.midbot:after {
  content: "";
  display: block;
  clear: both;
}

.contact {
  display: flex;
  background-color: rgba(240, 255, 255, 0.247);
  border-radius: 2mm;
  width: 7.5em;
  margin: 0.25em;
  padding: 0.25em;
}
.contact a {
  font-size: 0.55em;
}

.copyrights {
  padding-top: 0.5em;
  display: flex;
  justify-content: space-between;
  width: 80%;
  padding-left: 5.75em;
  border-bottom: 1px solid #343434;
}
.copyrights p {
  color: grey;
}

@media screen and (max-width: 1200px) {
  body {
    font-size: 15px;
    width: 100%;
  }
}
@media screen and (max-width: 900px) {
  body {
    font-size: 12px;
    width: 100%;
  }
  .main-nav {
    width: 100%;
  }
  .banner {
    height: 300px;
    width: 100%;
  }
}
@media screen and (max-width: 500px) {
  body {
    font-size: 8px;
  }
  .main-nav {
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  .main-nav ul {
    width: 100%;
  }
  .main-nav li {
    text-align: center;
    text-decoration: none;
    display: block;
    float: left;
    width: 33%;
  }
  .main-nav .mainul {
    display: flex;
    justify-content: space-between;
  }
  .main-nav .rightnav {
    display: none;
  }
  .main-nav .midnav {
    display: none;
    align-items: center;
  }
  .main-nav .dropdown button {
    display: block;
    width: 5em;
    height: 2em;
  }
  .banner {
    text-align: center;
    height: 300px;
    width: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  .banner img {
    display: none;
  }
  .banner .brand {
    text-align: center;
  }
  .brandsbar {
    text-align: center;
    width: 100%;
  }
  .brandsbar h2 {
    width: 80%;
    padding-right: 15px;
  }
  .brandsbar img {
    width: 100%;
  }
  .subscription {
    height: 500px;
    width: 100%;
    text-align: center;
    padding: 0;
  }
  .subscription img {
    display: none;
  }
  .subscription .description {
    width: 50%;
  }
  .steps {
    width: 100%;
    text-align: center;
  }
  .steps li {
    width: 245px;
  }
  .topseller {
    width: 100%;
  }
  .topseller li {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }
  .topseller .topsellers {
    display: inline;
  }
  .topseller .first {
    background-color: white;
  }
  .topseller .second {
    background-color: white;
  }
  .topseller .third {
    background-color: white;
  }
  .topseller button {
    color: antiquewhite;
  }
  .middle {
    width: 100%;
  }
  .subscription {
    display: flex;
    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    padding-bottom: 20px;
  }
  .advantages {
    display: contents;
  }
  .comments button {
    font-size: 5px;
    width: 50px;
  }
  .questions .ans {
    margin-left: 45px;
    width: 79%;
  }
}/*# sourceMappingURL=styles.css.map */
